<header>
    <h1>Countries</h1>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search Country</mat-label>
      <input matInput/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select>
        <mat-option>One</mat-option>
        <mat-option>Two</mat-option>
      </mat-select>
    </mat-form-field>
  </header>
  <ng-container *ngIf="covidCountryWiseCases.length">
    <div *ngFor="let countryWiseCases of covidCountryWiseCases">
      <div>
        <div>
          <img [src]="countryWiseCases.countryInfo?.flag" />
          <h3>{{countryWiseCases.country}}</h3>
        </div>
        <div>
          <div>
            <span>Cases</span>
            <span>{{countryWiseCases.cases}}</span>
          </div>
          <div>
            <span>Deaths</span>
            <span>{{countryWiseCases.deaths}}</span>
          </div>
          <div>
            <span>Recovered</span>
            <span>{{countryWiseCases.recovered}}</span>
          </div>
          <div>
            <span>Tests</span>
            <span>{{countryWiseCases.tests}}</span>
          </div>
          <div>
            <span>Population</span>
            <span>{{countryWiseCases.population}}</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  