<div class="countries-wrapper" *ngIf="!isEdit">
  <header>
    <h1>Countries</h1>
    <mat-form-field appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>Search Country</mat-label>
      <input matInput [formControl]="search" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort By</mat-label>
      <mat-select [formControl]="sortBy">
        <mat-option *ngFor="let option of sortByOptions" [value]="option.id">{{
          option.value
        }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-paginator
      [length]="covidCountryWiseCases.length"
      [pageSize]="pageSize"
      [hidePageSize]="true"
      (page)="onPageChange($event)"
    ></mat-paginator>
  </header>
  <div *ngIf="filteredCountryList.length" class="country-list-wrapper">
    <div *ngFor="let countryWiseCases of filteredCountryList">
      <div class="country-card">
        <div class="card-title">
          <img [src]="countryWiseCases.countryInfo?.flag" />
          <h1>{{ countryWiseCases.country }}</h1>
        </div>
        <div class="card-details-wrap">
          <div>
            <h4>Cases</h4>
            <span>{{ countryWiseCases.cases | number }}</span>
          </div>
          <div>
            <h4>Deaths</h4>
            <span>{{ countryWiseCases.deaths | number }}</span>
          </div>
          <div>
            <h4>Recovered</h4>
            <span>{{ countryWiseCases.recovered | number }}</span>
          </div>
        </div>
        <div class="card-details-wrap">
          <div>
            <h4>Tests</h4>
            <span>{{ countryWiseCases.tests | number }}</span>
          </div>
          <div>
            <h4>Population</h4>
            <span>{{ countryWiseCases.population | number }}</span>
          </div>
          <button mat-mini-fab color="white">
            <mat-icon
              (click)="
                onEdit(
                  countryWiseCases.countryInfo._id,
                  countryWiseCases.country
                )
              "
              >edit</mat-icon
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-edit-details
  *ngIf="isEdit"
  [id]="editCountryId"
  [country]="editCountryName"
  (onCancel)="handleCancel()"
></app-edit-details>
